@page "/"

<PageTitle>Index</PageTitle>

<h1>Simple Icons</h1>

<_1001tracklistsIcon class="w-6 h-6"/>
<TwitterIcon class="w-6 h-6" />
<GithubIcon class="w-6 h-6"/>

<BlazorIcon class="w-10 h-10 fill-[#512BD4]" />

<TwitterIcon class="w-6 h-6 fill-blue-400" />